# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Streamlit
.streamlit/

# FAISS index files
faiss_index/

# Temporary files
*.log
*.tmp
*.cache
*.DS_Store

# IDE
.vscode/
.idea/